<%- include("templates/header.ejs") %>
<h1 class="text-primary">Contactanos</h1>
    <form id="multiplicacion">
        <label for="nombre">Nombre: 
            <input class="form-control" type="text" name="nombre" id="nombre"></input>
        </label>
        <label for="edad">Edad:
            <input class="form-control" type="text" name="edad" id="edad"> </input>
        </label>
        <br />
        <br />
        <label for="comentario">Comentario:</label>
        <input class="form-control" type="text" name="comentario" id="comentario"> </input>
        <br />
        <br />
        <button class="btn btn-primary" id="botonEnviar" type="submit">Enviar :D</button>
    </form>
<%- include("templates/footer.ejs") %>